#calendar-section {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
  }
  
  #calendar-section .day {
    text-align: center;
    padding: 10px;
    border: 1px solid gray;
    background-color: gray !important;
    color: #fff;
    cursor: pointer;
  }
  
  /* #calendar-section .attended {
    background-color: green;
    color: gray;
  } */
  